<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-app" href="{:U('/admin/article/create')}">
                <i class="fa fa-edit"></i> 写文章
            </a>
            <div class="box box-info">
                <div class="box-body">
                    <form action="" method="get">
                    <div class="col-sm-4 input-group input-group-sm">
                        <input class="form-control" type="text" name="keyword" value="{$keyword}" placeholder="请输入文章标题搜索..." autofocus>
                        <span class="input-group-btn">
                          <button type="submit" class="btn btn-info btn-flat">搜索</button>
                        </span>
                    </div>
                    </form>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table role="grid" class="table table-bordered table-hover dataTable">
                                    <tbody>
                                    <tr role="row">
                                        <th>ID</th>
                                        <th>类型</th>
                                        <th>标题</th>
                                        <th>可见性</th>
                                        <th>优先级</th>
                                        <th>浏览量</th>
                                        <th>评论数</th>
                                        <th>发布时间</th>
                                        <th>是否到期</th>
                                        <th>操作</th>
                                    </tr>
                                    <foreach name="user" item="vo" >
                                        <tr class="odd" role="row">
                                            <td>{$vo['id']}</td>
                                            <td>{$vo['username']}</td>
                                            <td>{$vo['email']}</td>
                                            <td>{$vo['mobile']}</td>
                                            <if condition="$vo['status'] eq 1">
                                                <td>正常</td>
                                                <else />
                                                <td>禁用</td>
                                            </if>
                                            <if condition="$vo['type'] eq 1">
                                                <td>管理员</td>
                                            <else />
                                                <td>用户</td>
                                            </if>
                                            <td>{$vo['login']}</td>
                                            <td>{$vo['created_at']|date="Y-m-d H:i:s",###}</td>
                                            <td>{$vo['created_at']|date="Y-m-d H:i:s",###}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <a href="{:U('/admin/user/update/id/'.$vo['id'])}" class="btn btn-info btn-flat">
                                                        <i class="fa fa-key"></i>
                                                    </a>
                                                    <a href="{:U('/admin/user/allot/id/'.$vo['id'])}" class="btn btn-success btn-flat">
                                                        <i class="fa fa-cogs"></i>
                                                    </a>
                                                    <a href="{:U('/admin/user/disable/id/'.$vo['id'])}" class="btn btn-warning btn-flat disable">
                                                        <if condition="$vo['status'] eq 1">
                                                            <i class="fa fa-circle"></i>
                                                            <else />
                                                            <i class="fa fa-circle-thin"></i>
                                                        </if>
                                                    </a>
                                                    <a href="{:U('/admin/user/delete/id/'.$vo['id'])}" class="btn btn-danger btn-flat delete">
                                                        <i class="glyphicon glyphicon-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </foreach>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div aria-live="polite" role="status" id="example2_info" class="dataTables_info">

                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div id="example2_paginate" class="dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>