<section class="content">
    <div class="row">
        <!-- right column -->
        <div class="col-md-12">
            <!-- /.box -->
            <!-- general form elements disabled -->
            <div class="box box-info">
                <!-- /.box-header -->
                <form role="form" action="" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label>文章类型</label>
                            <if condition="empty($category)">
                                <a href="{:U('/admin/category/create')}" class="btn btn-block btn-info btn-flat">添加分类</a>
                                <else />
                                <select class="form-control" name="category_id" required>
                                    <foreach name="category" item="vo" >
                                        <option value="{$vo['id']}" {$vo['id'] == $current['parent_id'] ? 'selected' : ''}>
                                        <for start="1" end="$vo['level']">
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                        </for>
                                        └{$vo['name']}
                                        </option>
                                    </foreach>
                                </select>
                            </if>
                        </div>

                        <div class="form-group">
                            <label>文章标题</label>
                            <input class="form-control" type="text" name="title" required>
                        </div>

                        <div class="form-group">
                            <label>内容</label>
                            <textarea class="form-control" name="content" required></textarea>
                        </div>

                        <div class="form-group">
                            <label>描述</label>
                            <textarea class="form-control" name="description" required></textarea>
                        </div>

                        <div class="form-group">
                            <label>可见性</label>
                            <div class="radio">
                                <label>
                                    <input name="visible" value="1" checked="" type="radio">
                                    可见
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input name="visible" value="0" type="radio">
                                    不可见
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>到期时间</label>
                            <input class="form-control" type="text" name="due_at">
                        </div>

                        <div class="form-group">
                            <label>优先级</label>
                            <input class="form-control" type="text" name="priority">
                        </div>

                        <div class="form-group">
                            <label>浏览量</label>
                            <input class="form-control" type="text" name="browse">
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="button" class="btn btn-default pull-right" onclick="history.back()">返回</button>
                        <button type="submit" class="btn btn-info"> 保存 </button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>