<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table role="grid" class="table table-bordered table-hover dataTable">
                                    <tbody>
                                    <tr role="row">
                                        <th>ID</th>
                                        <th>用户名</th>
                                        <th>邮箱</th>
                                        <th>手机</th>
                                        <th>用户类型</th>
                                        <th>最后登录时间</th>
                                        <th>最后登录IP</th>
                                        <th>创建时间</th>
                                        <th>操作</th>
                                    </tr>
                                    <foreach name="user" item="vo" >
                                        <tr class="odd" role="row">
                                            <td>{$vo['id']}</td>
                                            <td>{$vo['username']}</td>
                                            <td>{$vo['email']}</td>
                                            <td>{$vo['mobile']}</td>
                                            <if condition="$vo['type'] eq 1">
                                                <td>管理员</td>
                                            <else />
                                                <td>用户</td>
                                            </if>
                                            <td>{$vo['last_login_time']|date="Y-m-d H:i:s",###}</td>
                                            <td>{$vo['last_login_ip']|long2ip}</td>
                                            <td>{$vo['created_at']|date="Y-m-d H:i:s",###}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <a href="{:U('/admin/user/update/id/'.$vo['id'])}" class="btn btn-info btn-flat">
                                                        <i class="fa fa-key"></i>
                                                    </a>
                                                    <a href="{:U('/admin/user/delete/id/'.$vo['id'])}" class="btn btn-danger btn-flat delete">
                                                        <i class="glyphicon glyphicon-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </foreach>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div aria-live="polite" role="status" id="example2_info" class="dataTables_info">
                                    共{$pagination->totalRows}记录
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div id="example2_paginate" class="dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination">
                                        <?php echo $pagination->show();?>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>