<section class="content">
    <div class="row">
        <!-- right column -->
        <div class="col-md-12">
            <!-- /.box -->
            <!-- general form elements disabled -->
            <div class="box box-info">
                <!-- /.box-header -->
                <form role="form" action="" method="post">
                    <div class="box-body">
                        <!-- text input -->
                        <div class="form-group">
                            <label>用户名</label>
                            <input class="form-control" type="text" name="username">
                        </div>

                        <div class="form-group">
                            <label>邮箱</label>
                            <input class="form-control" type="email" name="email">
                        </div>

                        <div class="form-group">
                            <label>手机</label>
                            <input class="form-control" type="text" name="mobile">
                        </div>

                        <div class="form-group">
                            <label>密码</label>
                            <input class="form-control" type="text" name="password" onclick="this.type='password'">
                        </div>

                        <div class="form-group">
                            <label>确认密码</label>
                            <input class="form-control" type="text" name="confirm_password" onclick="this.type='password'">
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="button" class="btn btn-default pull-right" onclick="history.back()">返回</button>
                        <button type="submit" class="btn btn-info"> 保存 </button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>